<div class="container field-overview primary">
    <div class="row fixed-height">
        <div class="col-md-12 fixed-height" data-ng-if="isSingleField()">
            <div class="row fixed-height">
                <div class="col-md-4 fixed-height right-separator">
                    <div class="row underline">
                        <div class="col-md-5">
                            <h4 style="font-size:22px"><b>Field Name:</b></h4>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size:22px">{{fields[selectedFields.firstField]}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'string'">
                        <div class="col-md-5"  style="font-size:22px">
                            <h4 style="font-size:22px"><b>Field Type:</b></h4>
                        </div>
                        <div class="col-md-7" style="font-size:22px">
                            <h4 style="font-size:22px">{{statistics[selectedFields.firstField].type}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'number'">
                        <div class="col-md-5">
                            <h4 style="font-size:22px"><b>Minimum:</b></h4>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size:22px">{{statistics[selectedFields.firstField].min}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'number'">
                        <div class="col-md-5">
                            <h4 style="font-size:22px"><b>Maximum:</b></h4>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size:22px">{{statistics[selectedFields.firstField].max}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'number'">
                        <div class="col-md-5">
                            <h4 style="font-size:22px"><b>Variance:</b></h4>
                        </div>
                        <div class="col-md-7" ng-if="statistics[selectedFields.firstField].type === 'number'">
                            <h4 style="font-size:22px">{{statistics[selectedFields.firstField].variance}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'number'">
                        <div class="col-md-5">
                            <h4 style="font-size:22px"><b>Average:</b></h4>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size:22px">{{statistics[selectedFields.firstField].mean}}</h4>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px">
                        <div class="col-md-12">
                            <a style=" border-radius: 0;" data-ng-if="!statistics[selectedFields.firstField].ML.created" data-ng-click="createML()" type="button" class="btn btn-info btn-block">Create {{statistics[selectedFields.firstField].ML.type}}</a>
                            <div style="text-align: center;" data-ng-if="statistics[selectedFields.firstField].ML.created">
                                <a target="_blank" href="/classifier/download" type="button" style="border-radius: 0;" class="btn btn-success btn-block">Buy {{statistics[selectedFields.firstField].ML.type}} with {{statistics[selectedFields.firstField].ML.precission}} {{statistics[selectedFields.firstField].ML.metric}}</a>
                            </div>
                            <a target="_blank" href="/download?gid={{id}}" type="button" style="margin-top: 8px; border-radius: 0" class="btn btn-success btn-block">Buy Dataset</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 fixed-height dark" data-ng-if="isString(selectedFields.firstField)">
                    <jqcloud words="statistics[selectedFields.firstField].histogram" colors="{{colors}}" width="600" height="220" steps="4" font-size="{from:0.06, to:0.03}" center='{x: 0.5, y:0.5}' shape='elliptic'></jqcloud>
                </div>
                <div class="col-md-8 fixed-height dark" data-ng-if="isNumber(selectedFields.firstField)">
                    <div data-boxplot data-statistic="statistics[selectedFields.firstField]" data-field-name="fields[selectedFields.firstField]"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-ng-if="isFieldComparison()">
            <div class="row fixed-height">
                <div class="col-md-6 fixed-height medium-light">
                    {{staticTest[selectedFields.firstField + selectedFields.secondField  * fields.length][0]}}
                </div>
                <div class="col-md-6 fixed-height dark">
                    {{staticTest[selectedFields.firstField + selectedFields.secondField  * fields.length][1]}}
                </div>
            </div>
        </div>
    </div>
</div>
