<div class="container field-overview primary">
    <div class="row fixed-height">
        <div class="col-md-12 fixed-height" data-ng-if="isSingleField()">
            <div class="row fixed-height">
                <div class="col-md-4 fixed-height right-separator">
                    <div class="row underline">
                        <div class="col-md-5">
                            <h4 style="font-size:24px"><b>Field Name:</b></h4>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size:24px">{{fields[selectedFields.firstField]}}</h4>
                        </div>
                    </div>
                    <div class="row underline">
                        <div class="col-md-5" style="font-size:24px">
                            <h4 style="font-size:24px"><b>Field Type:</b></h4>
                        </div>
                        <div class="col-md-7" style="font-size:24px">
                            <h4 style="font-size:24px">{{statistics[selectedFields.firstField].type}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'number'">
                        <div class="col-md-5">
                            <h4 style="font-size:24px"><b>Minimum:</b></h4>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size:24px">{{statistics[selectedFields.firstField].min}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'number'">
                        <div class="col-md-5">
                            <h4 style="font-size:24px"><b>Maximum:</b></h4>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size:24px">{{statistics[selectedFields.firstField].max}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'number'">
                        <div class="col-md-5">
                            <h4 style="font-size:24px"><b>Variance:</b></h4>
                        </div>
                        <div class="col-md-7" ng-if="statistics[selectedFields.firstField].type === 'number'">
                            <h4 style="font-size:24px">{{statistics[selectedFields.firstField].variance}}</h4>
                        </div>
                    </div>
                    <div class="row underline" ng-if="statistics[selectedFields.firstField].type === 'number'">
                        <div class="col-md-5">
                            <h4 style="font-size:24px"><b>Average:</b></h4>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size:24px">{{statistics[selectedFields.firstField].mean}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 fixed-height dark" data-ng-if="isString(selectedFields.firstField)">
                    <jqcloud words="statistics[selectedFields.firstField].histogram" colors="{{colors}}" width="600" height="220" steps="4" font-size="{from:0.06, to:0.03}" center='{x: 0.5, y:0.5}' shape='elliptic'></jqcloud>
                </div>
                <div class="col-md-8 fixed-height dark" data-ng-if="isNumber(selectedFields.firstField)">
                    <div data-boxplot data-statistic="statistics[selectedFields.firstField]" data-field-name="fields[selectedFields.firstField]"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-ng-if="isFieldComparison()">
            <div class="row fixed-height">
                <div class="col-md-6 fixed-height medium-light">
                    {{staticTest[selectedFields.firstField + selectedFields.secondField  * fields.length][0]}}
                </div>
                <div class="col-md-6 fixed-height dark">
                    {{staticTest[selectedFields.firstField + selectedFields.secondField  * fields.length][1]}}
                </div>
            </div>
        </div>
    </div>
</div>
