<div data-dataset-selector
     data-dataset="dataset"
     data-datasets="datasets"></div>

<div data-dataset-overview
     data-ng-if="dataset"
     data-dataset="dataset",
     data-merged="true"></div>

<div data-ng-if="dataset" class="medium-dark padded">
    <div data-field-selector
        data-fields="dataset.fields"
        data-statistics="dataset.statstics"
        data-selected-fields="selectedFields">
    </div>

    <div data-field-overview
        data-selected-fields="selectedFields"
        data-fields="dataset.fields"
        data-static-test="dataset.static_test"
        data-statistics="dataset.statstics"
        data-id="dataset.id"
        data-merged="true">
    </div>
</div>