<div class="light dataset-overview primary">
	<div class="container">

	<h1>Share. Analyze. Discover!</h1>
	<p>The following code snippets should be embedded in your website. They will collect the relevant data and send the aggregated set to our repository.</p>
	<p>Paste this in your login page:</p>
	<div class="light form-inline container fixed-width" style="width: 800px"><textarea cols='105' rows='8'>(function(){var n=function(e){return e instanceof n?e:this instanceof n?void(this._wrapped=e):new n(e)};n.create=function(e,t){var i=baseCreate(e);return t&amp;&amp;n.extendOwn(i,t),i},n.isArguments(arguments)||(n.isArguments=function(e){return n.has(e,"callee")}),"function"!=typeof/./&amp;&amp;"object"!=typeof Int8Array&amp;&amp;(n.isFunction=function(n){return"function"==typeof n||!1}),"function"==typeof define&amp;&amp;define.amd&amp;&amp;define("underscore",[],function(){return n})}).call(this);</textarea></div>
	<p>Paste this in your forms page:</p>
	<div class="light form-inline container" style="width: 800px"><textarea cols='105' rows='8'>!function(e,t){"function"==typeof define&amp;&amp;define.amd?define(["jquery"],t):"object"==typeof module&amp;&amp;module.exports?module.exports=t(require("jquery")):t(e.jQuery)}(this,function(e){"use strict";e.fn.jQCloud=function(t,o){var n=arguments;return this.each(function(){var u=e(this),r=u.data("jqcloud");if(r||"destroy"!==t)if(r)"string"==typeof t&amp;&amp;r[t].apply(r,Array.prototype.slice.call(n,1));else{var d="object"==typeof o?o:{};u.data("jqcloud",r=new jQCloud(this,t,d))}})},e.fn.jQCloud.defaults={set:function(t){e.extend(!0,jQCloud.DEFAULTS,t)},get:function(t){var o=jQCloud.DEFAULTS;return t&amp;&amp;(o=o[t]),e.extend(!0,{},o)}}});</textarea></div>
	</div>
</div>