<div class="relations">
	<div class="container-fluid">

		<div class="col-md-6">
			<div data-dataset-selector
			     data-dataset="dataset1"
			     data-datasets="datasets"></div>

			<div data-dataset-overview
			     data-ng-if="dataset1"
			     data-dataset="dataset1"></div>
		</div>

		<div class="col-md-6">
			<div data-dataset-selector
			     data-dataset="dataset2"
			     data-datasets="datasets"></div>

			<div data-dataset-overview
			     data-ng-if="dataset2"
			     data-dataset="dataset2"></div>
		</div>

	</div>
</div>