<div class="fixed-height scrollable">
    <table class="table primary table-condensed">
        <thead>
            <tr class="dark">
                <th>Date</th>
                <th>Author</th>
                <th>Title</th>
                <th>Content</th>
                <th>Category</th>
                <th>1 omitted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
                                <tr>
                <td>11-01-2015</td>
                <td>John Tithor</td>
                <td>Breeding sheep</td>
                <td>Lores ipsum sid dolor amet Lores ipsum sid dolor amet Lores ipsum sid dolor amet </td>
                <td>Arts and crafts</td>
                <td class="dark"></td>
            </tr>
        </tbody>
    </table>
</div>