<div class="fixed-height scrollable">
    <table class="table primary table-condensed">
        <thead>
            <tr class="dark">
                <th ng-repeat="val in fields.slice(0,5) track by $index">{{val}}</th>
                <th ng-if="fields.length > 5">{{max(0, fields.length - 5)}} omitted</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in examples.slice(0,5) track by $index">
                <td ng-repeat="val in row.slice(0,5) track by $index">{{val}}</td>
                <td ng-if="fields.length > 5" class="dark"></td>
            </tr>
        </tbody>
    </table>
</div>