<div class="field-selector container dark">
    <div class="row text-center">
        <div class="col-md-9 fields">
            <span data-ng-repeat="field in fields | filter:fieldFilter"
                    class="field"
                    data-ng-class="{'selected': isSelected(field)}"
                    data-ng-click="selectField(field)">
                {{field}}
            </span>
        </div>
        <div class="col-md-3">
            <h4 class="form-inline"><input type="text" data-ng-model="filterText" class="form-control" placeholder="Filter Fields"></h4>
        </div>
    </div>
</div>